.body {
  background-color: #aaaaaa;
  font-family: Comfortaa, cursive;
}

.header {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.input {
  height: 30px;
  width: 80%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  font-size: 28px;
}

.btn {
  align-self: center;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #000000;
  color: #ffffff;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn:hover {
  background-color: #4CAF50;
}

.board {
  width: 100vw;
  min-height: 100vh;
	overflow-y: scroll;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  align-items: flex-start;
  -webkit-box-align: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  -webkit-align-items: flex-start;
}

.note {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background-color: #ffff88;
}

.note__dltbtn {
  align-self: flex-end;
  cursor: pointer;
  color: red;
}

.note__header {
  max-width: 100%;
  font-size: 20px;
  border: none;
  background-color: #ffff88;
}

.note__content {
  max-width: 100%;
  font-size: 16px;
  border: none;
  background-color: #ffff88;
}

.note--hidden {
  display: none;
}
